@font-face {
  font-family: 'NaughtyMonster';
  src: local('NaughtyMonster'),
       url('./fonts/NaughtyMonster.otf') format('opentype');
}

.App {
  text-align: center;
  background-color: #05262f;
}

.ball{
  position: relative;
  top: -70px;
  
}

.ball .ball-t{
  background-color: rgb(59, 102, 117);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display:inline-block;
  color:whitesmoke;
  font-family: NaughtyMonster;
  font-size: 40px;
  text-align: center;
  margin: 20px;
  animation: bouncing1;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.ball .ball-t1{
  background-color: rgb(18, 100, 128);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display:inline-block;
  color:whitesmoke;
  font-family: NaughtyMonster;
  font-size: 40px;
  text-align: center;
  margin: 20px;
  animation: bouncing;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(50vh);
    animation-timing-function: ease-out; 
  }
  50% {
    transform: translateY(30vh); 
    animation-timing-function: ease-in;
  }
  75%{
    transform: translateY(45vh);
    animation-timing-function: ease-out;
  }
  100%{
    transform: translateY(50vh);
  }
  
}

@keyframes bouncing1 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(50vh);
    animation-timing-function: ease-out; 
  }
  50% {
    transform: translateY(20vh); 
    animation-timing-function: ease-in;
  }
  75%{
    transform: translateY(35vh);
    animation-timing-function: ease-out;
  }
  100%{
    transform: translateY(50vh);
  }
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
